body {
  margin: 0;
  padding: 0;
  font: 22px roboto;
}

#calculator {
  position: relative;
  padding: 0;
}

@media (min-width: 1px) {
  #calculator {
    margin: 0 5%;
    width: 90%;
    height: 100.05vh;
  }
}

@media (min-width: 481px) {
  #calculator {
    width: 300px;
    margin: 100px auto 0;
  }
}

#calculator > img {
  position: absolute;
  top: -84.75px;
  left: -10.5%;
  z-index: -1;
  width: 122%;
}

@media (min-width: 1px) {
  #calculator > img {
    display: none;
    top: -84.75px;
    left: -10.5%;
  }
}

@media (min-width: 481px) {
  #calculator > img {
    display: initial;
    top: -84.75px;
    left: -10.5%;
    width: 122%;
  }
}

#calculator .row {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1px) {
  #calculator .row {
    padding-top: 3%;
  }
}

@media (min-width: 481px) {
  #calculator .row {
    padding-top: 0;
    padding-bottom: 3%;
  }
}

#calculator .row button:hover {
  cursor: pointer;
}

#calculator .row button:active {
  background: rgba(0, 0, 0, 0.06);
}

#calculator .row button:focus {
  outline: none;
}

#calculator .row #clear:active {
  background: rgba(218, 125, 32, 0.87);
}

#calculator .row #backspace:active {
  background: rgba(188, 9, 36, 0.87);
}

#calculator .row #div:active, #calculator .row #mult:active, #calculator .row #perc:active, #calculator .row #subt:active, #calculator .row #add:active, #calculator .row #eq:active {
  background: rgba(0, 0, 0, 0.18);
}

#calculator .row button:disabled {
  background: rgba(0, 0, 0, 0.06);
  border: 0.8px solid rgba(222, 222, 222, 0.38);
}

#calculator .row button:disabled:hover {
  cursor: auto;
}

#calculator .row button:disabled:active {
  background: rgba(0, 0, 0, 0.12);
}

.numbers {
  background: white;
  font: 33px 'RobotoLight';
  color: #5c5c5c;
}

button {
  display: inline-block;
  border: 0.8px solid rgba(0, 0, 0, 0.38);
  border-radius: 50%;
  font: inherit;
}

@media (min-width: 1px) {
  button {
    width: 62.5px;
    height: 62.5px;
  }
}

@media (min-width: 330px) {
  button {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 360px) {
  button {
    width: 69px;
    height: 69px;
  }
}

@media (min-width: 390px) {
  button {
    width: 73px;
    height: 73px;
  }
}

@media (min-width: 420px) {
  button {
    width: 79px;
    height: 79px;
  }
}

@media (min-width: 450px) {
  button {
    width: 82px;
    height: 82px;
  }
}

@media (min-width: 481px) {
  button {
    width: 62.5px;
    height: 62.5px;
  }
}

button img {
  width: 100%;
}

#backspace {
  position: relative;
  background: rgba(206, 12, 41, 0.87);
}

#backspace::before {
  content: '';
  position: absolute;
  height: 81%;
  width: 81%;
  top: 11%;
  left: 9.5%;
  margin-top: -1px;
  opacity: 0;
}

#backspace span::before, #backspace span::after {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 20%;
  top: 50%;
  left: 42.5%;
  margin-top: -1px;
  background: #ce0c27;
}

#backspace span::before {
  transform: rotate(45deg);
}

#backspace span::after {
  transform: rotate(-45deg);
}

#clear {
  color: white;
  background: rgba(234, 136, 34, 0.87);
  font-family: 'RobotoMedium';
}

#mult {
  position: relative;
}

#mult::before, #mult::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 33.333%;
  top: 50%;
  left: 33.333%;
  margin-top: -1px;
  background: #5c5c5c;
}

#mult::before {
  transform: rotate(45deg);
}

#mult::after {
  transform: rotate(-45deg);
}

#div {
  position: relative;
  color: #5c5c5c;
}

#div::before, #div::after {
  font-weight: 800;
  position: absolute;
  margin-top: -1.25px;
  height: 2px;
  width: 33.333%;
  left: 33.333%;
}

#div::before {
  content: '.';
}

@media (min-width: 1px) {
  #div::before {
    top: 3%;
  }
}

@media (min-width: 360px) {
  #div::before {
    top: 6%;
  }
}

@media (min-width: 390px) {
  #div::before {
    top: 8%;
  }
}

@media (min-width: 390px) {
  #div::before {
    top: 10%;
  }
}

@media (min-width: 481px) {
  #div::before {
    top: 4%;
  }
}

#div::after {
  content: '.';
}

@media (min-width: 1px) {
  #div::after {
    top: 32%;
  }
}

@media (min-width: 320px) {
  #div::after {
    top: 32.5%;
  }
}

@media (min-width: 340px) {
  #div::after {
    top: 35%;
  }
}

@media (min-width: 360px) {
  #div::after {
    top: 34%;
  }
}

@media (min-width: 390px) {
  #div::after {
    top: 35%;
  }
}

@media (min-width: 420px) {
  #div::after {
    top: 39%;
  }
}

@media (min-width: 481px) {
  #div::after {
    top: 32%;
  }
}

#div span::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 33.333%;
  top: 50%;
  left: 33.333%;
  margin-top: -1px;
  background: #5c5c5c;
}

#perc {
  position: relative;
  color: #5c5c5c;
}

#perc::before {
  content: '';
  position: absolute;
  height: 81%;
  width: 81%;
  top: 11%;
  left: 9.5%;
  margin-top: -1px;
  opacity: 0;
}

#perc img {
  width: 50%;
}

#subt {
  position: relative;
}

#subt::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 33.333%;
  top: 50%;
  left: 33.333%;
  margin-top: -1px;
  background: #5c5c5c;
}

#add {
  position: relative;
}

#add::before, #add::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 33.333%;
  top: 50%;
  left: 33.333%;
  margin-top: -1px;
  background: #5c5c5c;
}

#add::after {
  transform: rotate(-90deg);
}

#eq {
  position: relative;
  background: rgba(80, 80, 80, 0.7);
}

#eq::before, #eq::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 33.333%;
  top: 50%;
  left: 33.333%;
  margin-top: -1px;
  background: #5c5c5c;
  background: white;
}

#eq::before {
  top: 43%;
}

#eq::after {
  top: 57%;
}

#status-bar {
  position: absolute;
  left: -4%;
  height: 23.75px;
  width: 108%;
  display: float;
}

@media (min-width: 1px) {
  #status-bar {
    display: none;
  }
}

@media (min-width: 481px) {
  #status-bar {
    display: initial;
  }
}

#status-bar img {
  float: right;
  height: 60%;
  margin: 1.9% 0 0 1%;
}

#status-bar #alarm {
  margin-top: 1.5%;
  height: 70%;
  margin-right: 0.5%;
}

#status-bar p {
  font-size: 0.7em;
  font-weight: 500;
  float: right;
  margin: 1.5% 0 0 1%;
}

#status-bar #time {
  margin-right: 1%;
}

#status-bar #signal {
  height: 60%;
  margin-top: 2%;
}

#status-bar #fg {
  position: absolute;
  font-size: 0.346em;
  margin: 0;
  top: 21%;
  left: 67.7%;
  animation-iteration-count: infinite;
}

#status-bar #signal {
  animation: one 10s infinite;
}

#status-bar #signal2 {
  position: absolute;
  left: 67.4%;
  top: 2%;
  animation: two 10s infinite;
}

@keyframes one {
  0% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes two {
  0% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#display {
  font: 20px roboto;
  border: none;
  width: 100%;
  height: 168.75px;
  resize: none;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1px) {
  #display {
    height: calc(90vh - (62.5px * 5));
  }
}

@media (min-width: 330px) {
  #display {
    height: calc(90vh - (65px * 5));
  }
}

@media (min-width: 360px) {
  #display {
    height: 69px;
    height: calc(90vh - (69px * 5));
  }
}

@media (min-width: 390px) {
  #display {
    height: calc(90vh - (73px * 5));
  }
}

@media (min-width: 420px) {
  #display {
    height: calc(90vh - (79px * 5));
  }
}

@media (min-width: 450px) {
  #display {
    height: calc(90vh - (82px * 5));
  }
}

@media (min-width: 481px) {
  #display {
    height: 168.75px;
  }
}

#display #display-input {
  text-align: right;
  margin: 0;
  word-wrap: break-word;
}

#display #display-result {
  text-align: right;
  margin: 0;
}

#heading {
  height: 38%;
  width: 100%;
}

#heading h7 {
  font-weight: 900;
}

@media (min-width: 1px) {
  #heading h7 {
    font-size: 16px;
  }
}

@media (min-width: 481px) {
  #heading h7 {
    font-size: 15px;
  }
}

#border {
  position: absolute;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.87);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

@media (min-width: 1px) {
  #border {
    left: -5vw;
    width: 100vw;
    height: 11%;
  }
}

@media (min-width: 481px) {
  #border {
    width: 325px;
    left: -4.1%;
    height: 58px;
  }
}

#alert {
  z-index: 2;
  position: absolute;
  margin: 15px;
  width: 90%;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  line-height: 44px;
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  display: none;
}

@media (min-width: 1px) {
  #alert {
    top: 0.5vh;
    height: 48px;
  }
}

@media (min-width: 481px) {
  #alert {
    top: -7px;
    height: 44px;
  }
}
 

 /*# sourceMappingURL= calculator.css.map */