body {
  margin: 0;
  display: flex;
  align-items: center;
  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
}

#bigone1, #bigone2 {
  border: 1px solid black;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: #424242;
  transition: color 0.05s ease-in-out;
  &:hover {
    color: #fc82e2;
    background: rgba(66, 66, 66, 0.97);
  }
  &.column {
    width: calc(100vw - 2px);
    height: calc(50vh - 2px);
    line-height: 50vh;
    &:first-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    }
  }
  &.row {
    width: calc(50vw - 1px);
    height: calc(100vh - 2px);
    line-height: 100vh;
    &:first-child {
      border-right: 1px solid rgba(0, 0, 0, 0.87);
    }
  }
}

#bigone2:hover {
  color: #00e5ff;
}

#smallone1, #smallone2 {
  text-shadow:  0 0 8px rgba(0,0,0,0.8), 0 0 20px rgba(0,0,0,0.4);
  position: absolute;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 300;
  transition: color 0.05s ease-in-out;
  &.column {
    top: 27.5vh;
    left: calc(50vw - 26px);
  }
  &.row {
    top: 52.5vh;
    left: calc(25vw - 26px);
  }
  text-decoration: none;
  color: #e0e0e0;
  &:hover {
    color: #8cff00;
  }
}

#smallone2 {
  &.column {
    top: 77.5vh;
  }
  &.row {
    top: 52.5vh;
    left: calc(75vw - 24px);
  }
  &:hover {
    color: #ff9400;
  }
}

